.margin10 {
  height: 10px;
  width: 100%;
}

.margin20 {
  height: 20px;
  width: 100%;
}

.margin30 {
  height: 30px;
  width: 100%;
}
.margin40 {
  height: 40px;
  width: 100%;
}

.margin50 {
  height: 50px;
  width: 100%;
}

.margin60 {
  height: 60px;
  width: 100%;
}

.margin70 {
  height: 70px;
  width: 100%;
}
